<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome Back <%=user.firstname %> <%=user.lastname %>!</h1>
    <h2>
      For security reasons we have hashed your password to: <%=user.password %>
    </h2>
    <h2>Your account balance $<%=user.balance%></h2>
    <h2>Your email address: <%=user.email%></h2>

    <form action="/addBalance" method="POST">
      <input
        type="text"
        name="id"
        id="id"
        placeholder="id"
        value="<%=user._id%>"
      />
      <label for="addedBalance">Add Balance</label>
      <input
        type="number"
        name="addedBalance"
        id="addedBalance"
        placeholder="Balance in $"
      />
      <button>Add Balance</button>
    </form>

    <form action="/logout" method="POST">
      <button>Log out</button>
    </form>
  </body>
</html>
